# Exercises

- Write a function, maxnum, that takes a single argument, a list of numbers. It returns the largest number in that list. (Do not use the built-in max function to do this!)

In [3]:
def maxnum(numbers):
    """
    Returns the largest number in a sequence of numbers.
    
    If the sequence is empty, you'll get an error.
"""
    if len(numbers) == 0:
        return None
    
    output = numbers[0]
    
    for one_number in numbers[1:]:
        if one_number > output:
            output = one_number
    
    return output

print(maxnum([10, 20, 30]))

30

In [4]:
print(maxnum([]))

None

- Write a function, lastword, that takes a list of words. It returns the word in that list that occurs last, alphabetically.

In [5]:
'apple' < 'banana'

True

In [6]:
'banana' < 'mango'

True

In [7]:
def lastword(wordlist):
    if len(wordlist) == 0:
        return None
    
    output = wordlist[0]
    
    for one_word in wordlist:
        if one_word > output:
            output = one_word
    
    return output

lastword('this is a test of my function'.split())

'this'

In [8]:
def lastitem(sequence):
    if len(sequence) == 0:
        return None
    
    output = sequence[0]
    
    for one_item in sequence:
        if one_item > output:
            output = one_item
            
    return output

def maxnum(numbers):
    return lastitem(numbers)

def lastword(wordlist):
    return lastitem(wordlist)

In [9]:
# original standard for characters -> numbers was called ASCII 
#  "American standard code for information interchange"

# Unicode 

'Z' < 'z'

True

In [10]:
'Z' < 'a'

True

In [12]:
lastword('This Is a Test Of My System'.split())

'a'

- Write a function, charcount, that takes a string and returns a dict. The dict’s keys will be all of the different characters that occur in the string, and its values will be the number of times that each character appeared.

In [14]:
def charcount(s):
    output = {}
    
    for one_character in s:
        if one_character in output:   # is one_character a key in our dict?
            output[one_character] += 1  # if so, then increment its count
        else:
            output[one_character] = 1  # if not, put it there with a count of 1
    
    return output

charcount('this is a test of my function')

{'t': 4,
 'h': 1,
 'i': 3,
 's': 3,
 ' ': 6,
 'a': 1,
 'e': 1,
 'o': 2,
 'f': 2,
 'm': 1,
 'y': 1,
 'u': 1,
 'n': 2,
 'c': 1}

In [15]:
!ls *.txt

alice-in-wonderland.txt  mini-access-log.txt  selected-nums.txt
dict-counts.txt		 myfile.txt	      shoe-data.txt
even-nums.txt		 myoutput.txt	      vowel_counts.txt
ip-address-report.txt	 nums.txt	      wcfile.txt
linux-etc-passwd.txt	 odd-nums.txt

In [16]:
charcount(open('alice-in-wonderland.txt').read())

{'\ufeff': 1,
 'T': 241,
 'h': 3122,
 'e': 6671,
 ' ': 12387,
 'P': 140,
 'r': 3111,
 'o': 4242,
 'j': 129,
 'c': 1435,
 't': 5152,
 'G': 122,
 'u': 1634,
 'n': 3530,
 'b': 742,
 'g': 1230,
 'E': 187,
 'B': 62,
 'k': 509,
 'f': 1061,
 'A': 352,
 'l': 2221,
 'i': 3547,
 'W': 103,
 'd': 2245,
 'a': 4058,
 ',': 927,
 'y': 985,
 'L': 90,
 'w': 1165,
 's': 3057,
 'C': 100,
 '\n': 1702,
 'm': 1064,
 'v': 389,
 '.': 621,
 'Y': 58,
 'p': 849,
 '-': 287,
 ':': 40,
 'I': 375,
 'R': 133,
 'D': 120,
 '1': 64,
 '2': 10,
 '0': 24,
 '6': 9,
 '[': 27,
 '#': 1,
 '9': 15,
 '3': 21,
 ']': 27,
 '*': 33,
 'S': 159,
 'O': 116,
 'F': 92,
 'H': 92,
 'J': 14,
 'U': 53,
 'N': 113,
 'K': 42,
 '/': 31,
 '_': 150,
 '"': 710,
 "'": 260,
 'V': 20,
 'M': 79,
 '&': 2,
 '?': 70,
 '(': 33,
 ')': 33,
 '!': 176,
 ';': 78,
 'z': 34,
 'x': 70,
 'q': 62,
 'ù': 1,
 'Q': 34,
 'X': 4,
 '8': 11,
 '7': 6,
 '4': 9,
 '5': 12,
 '%': 1,
 '@': 2,
 '$': 2}

In [17]:
def hello(name):
    return f'Hello, {name}!'

hello('world')

'Hello, world!'

In [18]:
def hello(first, last):
    return f'Hello, {first} {last}!'

hello('Reuven', 'Lerner')

'Hello, Reuven Lerner!'

In [20]:
hello('celebrity')

TypeError: hello() missing 1 required positional argument: 'last'

In [21]:
hello('celebrity', '')

'Hello, celebrity !'

In [22]:
# default argument values

def hello(first, last=''):  # "last" has a default value -- '' -- it's optional
    return f'Hello, {first} {last}!'

hello('Reuven', 'Lerner')

'Hello, Reuven Lerner!'

In [23]:
hello('celebrity')

'Hello, celebrity !'

In [24]:
hello.__code__.co_argcount

2

In [25]:
hello.__defaults__

('',)

In [26]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [28]:
'abcdef   ghijkl'.split()

['abcdef', 'ghijkl']

In [30]:
def get_usernames(max_count=5):
    output = []
    for one_line in open('linux-etc-passwd.txt'):
        if one_line.startswith(("#", '\n')):
            continue
        username = one_line.split(":")[0]
        output.append(username)

        if len(output) >= max_count:
            break
    return output

get_usernames()

['root', 'daemon', 'bin', 'sys', 'sync']

In [31]:
get_usernames(10000)

['root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [35]:
def add(x, y=5):
    return x + y

add(10, 3)

13

In [36]:
add(20, 5)

25

In [37]:
add(3)

8

In [38]:
# THIS WILL NOT WORK!!!

def add(x=10, y):
    return x + y

add(10, 3)

SyntaxError: non-default argument follows default argument (<ipython-input-38-b96c1b467cd5>, line 3)

In [40]:
def add(x=3, y=5):
    return x + y

add(10, 8)

18

In [41]:
add(2, 4)   # positional arguments

6

In [42]:
add(2)

7

In [43]:
add()

8

In [44]:
add(y=100)

103

In [45]:
add(x=100, y=200)  # keyword arguments

300

In [46]:
add(y=100, x=200)  # keyword arguments

300

In [47]:
def fancy_join(text, times, glue):
    output = []
    for i in range(times):
        output.append(text)
        
    return glue.join(output)

fancy_join('abc', 5, '**')

'abc**abc**abc**abc**abc'

In [48]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [49]:
sorted([10, 5, 7, 2, 9])

[2, 5, 7, 9, 10]

In [51]:
sorted([10, 5, 7, 2, 9], reverse=True)

[10, 9, 7, 5, 2]

In [52]:
range(10)

range(0, 10)

In [53]:
range(5)

range(0, 5)

In [55]:
for i in range(5):  # from 0 to (not including) 5
    print(i)

0
1
2
3
4

In [56]:
def add_one(a_list):
    a_list.append(1)
    return a_list

mylist = [10, 20, 30]
add_one(mylist)

[10, 20, 30, 1]

In [57]:
mylist

[10, 20, 30, 1]

In [58]:
def add_one(a_list=[]):
    a_list.append(1)
    return a_list

mylist = [10, 20, 30]
add_one(mylist)

[10, 20, 30, 1]

In [59]:
add_one()

[1]

In [60]:
add_one()

[1, 1]

In [61]:
add_one()

[1, 1, 1]

In [62]:
add_one()

[1, 1, 1, 1]

In [63]:
add_one.__defaults__

([1, 1, 1, 1],)

In [64]:
def add_one(a_list=[]):
    a_list.append(1)
    return a_list

In [65]:
add_one.__defaults__

([],)

In [66]:
add_one()

[1]

In [67]:
add_one.__defaults__

([1],)

## Important rule of thumb: NEVER USE mutable defaults!

Meaning: Your default argument values should be immutable (None, boolean, string, integer, tuple)